/otu_clustering/__pycache__
/uksi_processing/jncc_mapping/__pycache__
/ncbi_processing/ncbi_gb_extract/__pycache__
uksi_processing/uksi_db/uksi.db
midori_processing/midori_12s.tsv
midori_processing/midori_12s.tsv.gz
/uksi_processing/uksi_db/__pycache__
